*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(../IMAGENES/caratula.jpg);
    background-repeat: no-repeat;
    /* background-position: 200px 200px ; */
    background-attachment: fixed;
    background-size: cover;
}
   


header{
    width: 100%;
    background:#6ec1e4;
    height: 70px;
    align-items: center;

}

.ancho{
    width: 80%;
    height: 70px;
    background: red; 
    margin: auto;   
}

.logo{
    width: 20%;
    height: 70px;
    background: #6ec1e4;
    float: left;
    padding-top: 22;
    box-sizing: border-box;

}

.logo p a{
    color: #fff;
    font-size: 50px;
    text-decoration: none;
}
nav{
    width: 80%;
    height: 70px;
    background: red;
    float: left;
    padding-top: 24;
    box-sizing: border-box;
    text-align: right;
}

nav ul li{
    display: inline;
}
 nav ul li a{
     color: #fff;
     font-size: 15px;
     text-decoration: none;
     padding-left: 15px;
     font-weight: bold;
     letter-spacing: 1px;
     align-items: center;
 }

 nav ul li a:hover{
    color: black;
}


 h1{
    font-size: 30px;
    font-family: 'Oswald', sans-serif;
    text-align: center;
 }
 ul  {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
     max-width: 400px; 
    flex-wrap: nowrap;
    margin: auto; 
    } 
    ul  img{
        width: 300px;
        height: 300px;
        margin-bottom: 30px;
        object-fit: cover;
        filter: brightness(85%);
        animation: escalar 1.5s infinite alternate;
    }

    @keyframes escalar{
        to{
            transform: scale(1);
        }
        from{
           transform: scale(1.05); 
        }
    }

    ul li img:hover{
        filter: brightness(100%);
    }

    .snaks h1{
        font-size: 30px;
        font-family: 'Oswald', sans-serif;
        text-align: center;

    }