/* Globales */


*{
    margin: 0px;
    padding: 0px;
}
html {  
    box-sizing: border-box;
    font-size: 62.5%; 
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 1.6rem;  
}
img {   
    max-width: 100%;
    display: block;
}
a {
    text-decoration: none;
}
ul {
    list-style:none
}

body
{
   background-color: rgb(194, 243, 245);
   font-family: Arial, Helvetica, sans-serif;
}
#container{
    /width: 70%;/
    width: 1100px;
    margin: 0px auto;
    border: 1px solid rgb(238, 232, 232);
    background-color: rgb(241, 228, 173);
}

header{
    background-color: rgb(219, 236, 187);
    height: 100px;
    width: 100%;
    margin: 0px;
    text-align: center;
    line-height: 100px;
    color: white(21, 255, 0);
    border-bottom: 3px dashed rgb(19, 18, 18);
}
nav{
    background-color: rgb(255, 254, 253);
    height: 50px;
    border-bottom: solid rgb(19, 18, 18);


}
nav ul li{
    float: left;
    list-style: none;
    margin: 10px;
    line-height: 30px;
}
.clearfix{
    clear:both;
}
#content{
    float: left;
    width: calc(80% - 80px);
    min-width: 500px;
    background-color: https://png.pngtree.com/20210711/original/pngtree-cute-pet-shop-poster-design-background-picture-image_1101107.jpg>
    padding: 40px;

}
aside{
    float: left;
    width: calc(20% - 20px);
    background-color: rgb(249, 253, 249);
    min-height: 500px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
   
}
footer{
    background-color: rgb(15, 15, 15);
    color: rgb(240, 229, 229);
    text-align: center;
    height: 50px;
    line-height: 50px;

}
.button 
{
    background-color: rgb(218,247,166);
   border-radius: 10rem;
    color: rgb(218, 247, 166);
    padding: 8px 16px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
    font-size: 16px;

}
.button1 {width: 250px;}
.button2 {width: 50%;}
.button3 {width: 100%;}
.button {
    float: left;
}
button:hover 
{
    background-color: rgba(218, 247, 166);
    color: rgba(34, 255, 5, 0.582);
}
button :active
{
    padding: 20px;
    background-color: rgb(34, 139, 61);
    color: rgb(22, 255, 22);

}


/* Pagina Servicios */

.title2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin: 4rem 0 4rem 0;
}
.navegacion {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}
@media( max-width: 465px) {
    .navegacion {
        flex-direction: column;
        gap: 0.2rem;
    }
}

.navegacion li {
    text-decoration: none;
    margin-bottom: 0.5rem;
}
.contenidoHeader {
   background-color: aliceblue;
   display: flex;
   height: 30rem;
   justify-content: space-around;
   align-items: center;
   gap: 1rem;
   padding: 1rem;
}
@media ( max-width: 900px ) {
    .contenidoHeader {
        flex-direction: column;
        margin-top: 10rem;
        margin-bottom: 13rem;
        background-color: unset;
    }
}
@media ( max-width: 525px ) {
    .contenidoHeader {
        margin-bottom: 15.5rem;
    }
}
@media ( max-width: 421px ) {
    .contenidoHeader {
        margin-bottom: 12rem;
    }
}
.contenidoHeader img {
    height: 30rem;
    width: 60rem;
    object-fit: cover;
}
.contenido h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
    text-align: center;
}
@media ( max-width: 420px ) {
    .contenido h1 {
        font-size: 3rem;
    }
}
.contenido p {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
}
.servicios {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin: 4rem auto 0 auto;
    background-color: #e5f013;
}
@media ( max-width: 640px ) {
    .servicios {
        flex-direction: column;
    }
}
.parra {
    cursor: pointer;
    font-size: 2rem;
    padding: 1.3rem;
}
@media ( max-width: 930px ) {
    .parra {
        font-size: 1.5rem;
    }
}
@media ( max-width: 640px ) {
    .parra {
        margin: 0.5rem;
    }
}
.parra:hover {
    background-color: #000;
    color: #e5f013;
    border-radius: 2rem;
}
.serviciosContenido {
    width: 100%;
    margin: 0 auto 6rem auto;
    background-color: aliceblue;
}
.divSombra {
    box-shadow: 0px 0px 15px 3px #000000;
    width: 70%;
    margin: 0 auto;
}
@media ( max-width: 1060px ) {
    .divSombra {
        width: 90%;
    }
}


/* Clases de JS */
.parraMedica {
    margin: 0 auto 2rem auto;
    padding-top: 2em;
    text-align: center;
    width: 80%;
}
.imgSer {
    width: 100%;
    height: 30rem;
}
.imgSer img {
    object-fit: cover;
}
