body{
    background-image: url("XD.jpg");
}
.text {
    margin: auto;
    display: block;
justify-content: center;
align-items: center;
border:  5px  solid brown;
border: 300px 250px;
width: 300px;
height: 250px;
}
.mal {
     margin:20px;
     display: block;
     justify-content: center;
     align-items: flex-start;
     border: 10px solid red;
     align-items: center;
     width: 400px;
     height: 300px;
}
.XD {
}
